/***********************************************
 * @author Jennifer Grace
 * UNHBootCamp
 * CSS for Super Hero Gif Generator
 ***********************************************/
 
 body {
    background-image: url("../images/background.jpg");
    background-size: auto;
}
.card {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 36rem;
}
.favorite-image {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}
.gif-button {
    margin: 5px;
}
.jumbotron {
    background-image: url("../images/SuperheroGIFGeneratorBanner.png");
    height: 195px;
}
#favorites {
    text-align: center;
}
#gif-form {
    margin-top: 25px;
    margin-bottom: 25px;
    align-content: left;
    width: 50%;
}
#submit {
    margin: 10px;
}
#topic-input {
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
}