body {
    /* background: darkslategray; */
    background-image: url("../images/ironMan.jpg");
    background-size: auto;
}
.card {
    width: 18rem;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}